# ignore pycache folder and compiled python scripts
__pycache__/
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# folders
# ignore everything inside testing folder except for test_nisupply
testing/*
!testing/test_nisupply.py
